*{
    padding:0;
}
body{
    
    color:#444;
}

.container{
    max-height: 90vh;
}

h1{
    text-transform:uppercase;
    color:orange;
    font-size: 3em;
}

#underscore{
    letter-spacing:15px;
    font-size: 2.5em;
    text-transform: uppercase;
}

#press{
    background-color: rgb(255, 199, 108);
    font-weight: bold;
    color:#666;
    padding-top: 5px;
}

.card{
    
    margin:15px 0;
    padding:0;
    border: 1px solid rgb(255, 207, 117);
}

.card-header{
    background-color:rgb(255, 233, 192);
    border: 1px solid rgb(255, 207, 117);
    color:rgb(255, 155, 41);
}

.card-text{
    font-size: 2em;
}

.otros h3{
    background-color:#eee;
    color:gray;
 
}

.jumbotron{
    background-color: rgb(255, 249, 238);
    height: 35vh;
    padding-top: 2em;
}

#lettersGuessed{
    text-transform: uppercase;
    font-size: 1.5em;
}
