
:root{
    --gris:#7b7b7b ;
    --beige:#f1f1cc ;
    --cafe:#99705f ;
}



*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
body{
    font-family: 'Roboto', sans-serif;
    color:#444;
    margin:0!important;
    padding:0!important;
    background-color: var(--cafe);
}
 hr{
     color:black;
     border:1px solid black;
 }
nav{
    margin-top: 0!important;
    height:2.5em;
    border-bottom: 1px solid var(--beige);
    margin-bottom: 2em;
    padding: 0;
    background-color: var(--cafe);
}

#back{
    color:greenyellow;
    margin: 0.6em 0.5em 0.5em 0.5em;
    padding: 0.1em 0 1.5em 0;
    border:1px solid white;
    width:1.5em;
    height: 1.5em;
    text-align: center;
    background-color: var(--cafe);

}

a{
    color:beige;
}

a:link{
text-decoration: none;
}

a:hover{
text-decoration: none;
color:orange;

}



.container{
    max-height: 90vh;
}

h1{
    text-transform:uppercase;
    color:var(--beige);
    font-size: 5.5em;
    font-family: 'Caveat Brush', cursive;
    letter-spacing: 0.15em;
}

h2{
    color: orange;
    text-transform: uppercase;
    letter-spacing: 0.2em; 
    font-size: 2em;   
    margin: 1em auto;
}

#underscore{
    letter-spacing:20px;
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight:100;
}


.card{
    
    margin:15px 0;
    padding:0;
    border: 1px solid rgb(255, 207, 117);
    background-color:transparent!important;
    font-size: 1em;
}

.card-header{
    color:beige;
    text-transform: uppercase;
    font-size: 1.3em;
}

.card-text{
    color:orange;
    font-size: 2em;
   
}



.otros h3{
    background-color:#eee;
    color:gray;
 
}

.jumbotron{
    background-color: rgb(255, 249, 238);
    height: 35vh;
    padding-top: 2em;
}

#lettersGuessed{
    text-transform: uppercase;
    font-size: 1.5em;
}


#press{
    width: 60%;
    margin: 1em auto;
    padding: 0.2em;
    background-color: transparent;
}

.card-title{
    color:whitesmoke;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    text-align: center;
    margin-top: 0.5em;
    width:100%;    
}
