
:root{
    --gris:rgb(252, 252, 252);
    --amarillo:#F9F9EB;
    --naranja: rgb(255, 216, 139);
    --marron:rgb(189, 127, 3);
    --alpha:0.5;
}



*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
body{
    font-size: 20px;
    color:#444;
    margin:0!important;
    padding:0!important;
    background-color: var(--cafe);
}
 hr{
     color:black;
     border:1px solid black;
 }
nav{
    margin-top: 0!important;
    height:2.5em;
    border-bottom: 1px solid lightgray;
    margin-bottom: 2em;
    padding: 0;
    background-color: var(--cafe);
}

#back{
    color:gray;
    margin: 0.6em 0.5em 0.5em 0.5em;
    padding: 0.1em 0 1.5em 0;
    border:1px solid lightgray;
    width:1.5em;
    height: 1.5em;
    text-align: center;
    background-color: white;

}
#back:hover{
    color:var(--naranja);
    border:1px solid var(--naranja);
    background-color: var(--gris);
    transition: ease-in 0.2s;
}

a{
    color:lightgray;
}

a:link{
text-decoration: none;
}

a:hover{
text-decoration: none;
color:var(--naranja);

}

/* ----- body ----- */


.row{
    margin-bottom: 3rem;
}


.container{
    margin:0 auto;
    padding:0;
    width: 100vw;
    margin-bottom:2rem;


}

.aside{
    background-color: var(--amarillo);
    width:100%;
    text-align: center;
    border-right: 0.5rem solid white;

   
}

h1, h2{
    font-family: 'Caveat Brush', sans-serif;
    margin: 0.5em 0;
}

h1{
    font-size: 4em;
    color:gray;
}

h2{
    font-size: 2em;
    color:rgb(160,160,160);
    text-transform: uppercase;
    letter-spacing: 0.25em;
    margin-bottom: 0em;
}

.edition:before{
    display:block;
    content:"";
    width:90%;
    margin: 0.5em auto;
    border-top:1px solid gray;

}

.edition{
    font-size: 1em;
    color:var(--naranja);
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.4em;
}

.picsContainer{
    position:relative;
    padding:1em;
}

#circle1{
    background-color: var(--naranja);
    opacity:0.5;
    width:6rem;
    height:6rem;
    border-radius: 50%;
    position: absolute;
    top:0.2em;
    left:2em;
    z-index: 2!important

}

#circle2{
    background-color: var(--naranja);
    opacity:0.5;
    width:4rem;
    height:4rem;
    border-radius: 50%;
    position: absolute;
    right: 01rem;
    bottom:01rem;
    z-index: 1!important;
}


main{
    background-color: #F5F5F5;
    width:100%;
    padding:10rem 2em 2rem 2rem!important;
    font-size: 20px;
    min-height: 80vh;
}

h3{
    font-size: 1em;
    font-weight: 300;
    float:left;
    display:inline-block;
}

#pulse{
    height: 1.5rem;
    width:0.5rem;
    background-color: var(--naranja);
    display:inline-block;
    float:left;
    margin-right: 0.5rem;
    margin-left: 1rem;
}

.scoreContainer p,
.current-word p {
    font-size: 0.90em;
    font-weight: 300;
    letter-spacing: 1px;
}


.square{
    background-color:rgba(255,216,139,0.5);
    padding:1rem;
    color:gray;
    text-align: center;
    width:100%!important;
}

.fas{
    color: var(--marron);
    margin-right: 0.25em;
    opacity: 0.75;
}

#lettersGuessed{
    text-transform: uppercase;
}

.underscore{
    margin:0 auto;
    padding:0.5rem;
    text-align: center!important;
    background-color: rgba(255,216,139,0.4);
}
#underscore{
    letter-spacing: 1.25em;
    font-size: 2em;
    font-weight: 300;
    text-transform: uppercase;
    font-family: "Caveat Brush", sans-serif;
}


/******** DOG PIC *********/

#dogPic{
    display:block;
    margin:0 auto;
    background-color: gray;
    width: 15rem;;
    height:15rem;
    border-radius: 50%;
    z-index: 9!important;

}

img{
    width:100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}